.books-grid-overview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 1.5rem;
  justify-items: stretch;
}

@media (max-width: 425px) {
  .books-grid-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 1.5rem;
    justify-items: stretch;
  }
}
