/* You can add global styles to this file, and also import other style files */
@use "@carbon/styles";

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&family=Vollkorn:wght@400;500;600&display=swap");

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
