
  label {
    text-transform: capitalize;
  }
  

  .books-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap:3rem;
    margin-top: 4rem;
    margin-bottom: 15rem;
  }

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer-container {
margin-top: auto;
}
  
