.cards-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 4rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }
}
