input:focus {
  outline: lightgreen;
  box-shadow: 0 0 0 0.2rem lightgreen;
}

label {
  padding-bottom: 0.5rem;
}

.nav-tabs {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

@media (max-width: 425px) {
  .row {
    display: block;
  }
}
