.action-bar-items {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  justify-content: space-between;
  min-width: 54rem;
}

.logo {
  width: 3rem;
  border-radius: 10%;
}

.launcher-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.amount {
  position: absolute;
  top: 5px;
  right: -6px;
  background: #24262b;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 9px;
  color: antiquewhite;
}

@media (max-width: 1024px) {
  .action-bar-items {
    min-width: 40rem;
  }
}

@media (max-width: 425px) {
  .action-bar-items {
    min-width: 20rem;
  }
}

@media (max-width: 320px) {
  .action-bar-items {
    min-width: 15rem;
  }
}

::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none;
}

.admin {
  padding: 1rem 2rem;
  background-color: lightgreen;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

.action-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .admin-btn {
//   height: 6rem;
// }
