.footer-container {
  margin-top: auto;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.5rem;
}

h1 {
  font-size: 57px;
}

p {
  font-size: 27px;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 18px 43px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.welcome {
  text-align: center;
}

.mat-mdc-raised-button.mat-mdc-button-base {
  height: 4rem;
  width: 12rem;
}
